<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registrar Ganado App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script src="../static/js/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Ganado Lechero App</h3>
                          <nav class="navbar navbar-default" role="navigation">
                          <!-- El logotipo y el icono que despliega el menú se agrupan
                               para mostrarlos mejor en los dispositivos móviles -->
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-ex1-collapse">
                              <span class="sr-only">Desplegar navegación</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <h3>Registro</h3>
                          </div>

                          <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                               otro elemento que se pueda ocultar al minimizar la barra -->
                          <div class="collapse navbar-collapse navbar-ex1-collapse">


                            <ul class="nav nav-pills pull-right">
                                <li role="presentation" ><a href="/userHome">Inicio-Animales</a></li>
                                <li role="presentation" class="active"><a href="#">Registro</a></li>
                                <li role="presentation"><a href="/reproduccion">Reproduccion</a></li>
                                <li role="presentation"><a href="/Resumen">Resumen</a></li>
                                <li role="presentation" class=""><a href="/logout">Salir</a></li>
                            </ul>
                                </div>
                        </nav>
        </div>
        {% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
        <section>
            <form class="form-horizontal" method="post" action="/addAnimal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Registrar Animal</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Numero RP</label>
                        <div class="col-md-4">
                            <input name="caravana" type="number" min="0" class="form-control input-lg" placeholder="NUMERO">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Nombre</label>
                        <div class="col-md-4">
                            <input name="nombre" type="text" class="form-control input-lg" placeholder="NOMBRE">
                          </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Fecha de nacimiento</label>
                        <div class="col-md-4">
                            <input name="fechana" type="date" class="form-control input-lg" placeholder="aaaa-dd-mm">
                          </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Indice de condicion corporal</label>
                        <div class="col-md-4">
                            <input name="icc" type="number" min="0" class="form-control input-lg" placeholder="ICC">
                          </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Numero de partos</label>
                        <div class="col-md-4">
                            <input name="nopartos" type="number" min="0" max="5" class="form-control input-lg" placeholder="NUMERO DE PARTOS">
                          </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Rodeo</label>
                        <div class="col-md-4">
                          <select name="rodeo" class="form-control input-lg" placeholder="RODEO">
               <option value="alta">Alta</option>
               <option value="media">Media</option>
               <option value="baja">Baja</option>
               <option value="enfermeria">Enfermeria</option>
               <option value="secas">Secas</option>
                  </select>
                </div>
                    </div>


                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Registrar" />
                        </div>
                    </div>

                </fieldset>
            </form>

        </section>
        <footer class="footer">
            <p>&copy; Tecnologia Space 2016</p>
        </footer>

    </div>
</body>

</html>
