<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ganado Lechero App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,800,600,400' rel='stylesheet' type='text/css'>

    <style type="text/css">
${demo.css}
    </style>

    <script src="../static/js/jspdf.js"></script>
    <script src="../static/js/jspdf.plugin.addimage.js"></script>
    <script src="../static/js/jspdf.plugin.standard_fonts_metrics.js"></script>
    <script src="../static/js/jspdf.plugin.split_text_to_size.js"></script>
    <script src="../static/js/jspdf.plugin.from_html.js"></script>
    <script src="../static/js/jspdf.debug.js"></script>


    <script type="text/javascript">
$(function () {

// Radialize the colors
Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
    return {
        radialGradient: {
            cx: 0.5,
            cy: 0.3,
            r: 0.7
        },
        stops: [
            [0, color],
            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
        ]
    };
});

// Build the chart
$('#grafica1').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'CANTIDAD DE VACAS POR RODEO'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                },
                connectorColor: 'silver'
            }
        }
    },
    series: [{
        name: '',
        data: [
            { name: 'ALTA', y: {{alta}}},
            { name: 'MEDIA', y:{{media}}},
            { name: 'VAQUILLONAS', y: {{baja}}},
            { name: 'SECAS', y: {{secas}}},
            { name: 'ENFERMERIA', y: {{enfermeria}}},
            { name: 'ELIMINADAS', y: {{eliminadas}}}

        ]
    }]
});
});
    </script>
    <script type="text/javascript">
    $(function () {
        $('#grafica2').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'CANTIDAD DE VACAS POR REPRODUCCION'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad (Unidades)'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'CANTIDAD: <b>{point.y:1f}</b>'
            },
            series: [{
                name: 'Clasificacion',
                data: [
                    ['INSEMINACION', {{rep}}],
                    ['PARTOS', {{par}}],
                    ['LACTANCIA', {{lac}}]
                ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:1f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    });
    		</script>
<script>

function GetAltas() {
      $.ajax({
          url: '/getAltas',
          type: 'GET',
          success: function(res) {
              // Parse the JSON response
              var wishObj = JSON.parse(res);
              // Append to the template
              $('#alta').empty();
              $('#encabezado').tmpl().appendTo('#alta');
              $('#listAltas').tmpl(wishObj).appendTo('#alta');
          },
          error: function(error) {
              console.log(error);
          }
      });
  };

  function GetMedias() {
      $.ajax({
          url: '/getMedias',
          type: 'GET',
          success: function(res) {
              // Parse the JSON response
              var wishObj = JSON.parse(res);
              // Append to the template
              $('#media').empty();
              $('#encabezado').tmpl().appendTo('#media');
              $('#listMedias').tmpl(wishObj).appendTo('#media');
          },
          error: function(error) {
              console.log(error);
          }
      });
  };

  function GetBajas() {
      $.ajax({
          url: '/getBajas',
          type: 'GET',
          success: function(res) {
              // Parse the JSON response
              var wishObj = JSON.parse(res);
              // Append to the template
              $('#baja').empty();
              $('#encabezado').tmpl().appendTo('#baja');
              $('#listBajas').tmpl(wishObj).appendTo('#baja');
          },
          error: function(error) {
              console.log(error);
          }
      });
  };

  function GetEnfermeria() {
      $.ajax({
          url: '/getEnfermeria',
          type: 'GET',
          success: function(res) {
              // Parse the JSON response
              var wishObj = JSON.parse(res);
              // Append to the template
              $('#enfermeria').empty();
              $('#encabezado').tmpl().appendTo('#enfermeria');
              $('#listEnfermeria').tmpl(wishObj).appendTo('#enfermeria');
          },
          error: function(error) {
              console.log(error);
          }
      });
  };

  function GetSecas() {
      $.ajax({
          url: '/getSecas',
          type: 'GET',
          success: function(res) {
              // Parse the JSON response
              var wishObj = JSON.parse(res);
              // Append to the template
              $('#secas').empty();
              $('#encabezado').tmpl().appendTo('#secas');
              $('#listSecas').tmpl(wishObj).appendTo('#secas');
          },
          error: function(error) {
              console.log(error);
          }
      });
  };

  function GetEliminadas() {
      $.ajax({
          url: '/getEliminadas',
          type: 'GET',
          success: function(res) {
              // Parse the JSON response
              var wishObj = JSON.parse(res);
              // Append to the template
              $('#eliminada').empty();
              $('#encabezado').tmpl().appendTo('#eliminada');
              $('#listEliminadas').tmpl(wishObj).appendTo('#eliminada');
          },
          error: function(error) {
              console.log(error);
          }
      });
  };

  function GetReproduccion() {
        $.ajax({
            url: '/getReproduccion',
            type: 'GET',
            success: function(res) {
                // Parse the JSON response
                var wishObj = JSON.parse(res);
                // Append to the template
                $('#reproduccion').empty();
                $('#encabezado').tmpl().appendTo('#reproduccion');
                $('#listReproduccion').tmpl(wishObj).appendTo('#reproduccion');
            },
            error: function(error) {
                console.log(error);
            }
        });
    };

    function GetPartos() {
          $.ajax({
              url: '/getPartos',
              type: 'GET',
              success: function(res) {
                  // Parse the JSON response
                  var wishObj = JSON.parse(res);
                  // Append to the template
                  $('#partos').empty();
                  $('#headpartos').tmpl().appendTo('#partos');
                  $('#listPartos').tmpl(wishObj).appendTo('#partos');
              },
              error: function(error) {
                  console.log(error);
              }
          });
      };

      function GetLactancia() {
            $.ajax({
                url: '/getLactancia',
                type: 'GET',
                success: function(res) {
                    // Parse the JSON response
                    var wishObj = JSON.parse(res);
                    // Append to the template
                    $('#lactancia').empty();
                    $('#headlactancia').tmpl().appendTo('#lactancia');
                    $('#listLactancia').tmpl(wishObj).appendTo('#lactancia');
                },
                error: function(error) {
                    console.log(error);
                }
            });
        };

  $(function(){
    GetAltas();
    GetMedias();
    GetBajas();
    GetEnfermeria();
    GetSecas();
    GetEliminadas();
    GetReproduccion();
    GetPartos();
    GetLactancia();
    });

function rodeo(elem) {
    $('#rodeoModal').modal();
}
function reproduccion(elem) {
    $('#reproduccionModal').modal();
}
</script>

<script>
function printRodeo() {
var doc = new jsPDF('p', 'px', 'letter');
//alert('El PDF se genero exitosamente');
var specialElementHandlers = {
  '#editor': function(element, renderer){
    return true;
  }
};
var f = new Date();
doc.setFontSize(14);
doc.text(250, 20,"FECHA DE IMPRESION: "+ f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear()+'.');
doc.fromHTML($('#tblRodeo').get(0), 40, 30, {
  'elementHandlers': specialElementHandlers
});

doc.output('dataurl');

}
</script>
<script>
function printReproduccion() {
var doc = new jsPDF('p', 'px', 'letter');
//alert('El PDF se genero exitosamente');
var specialElementHandlers = {
  '#editor': function(element, renderer){
    return true;
  }
};
var f = new Date();
doc.setFontSize(14);
doc.text(250, 20,"FECHA DE IMPRESION: "+ f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear()+'.');
doc.fromHTML($('#tblReproduccion').get(0), 40, 30, {
  'elementHandlers': specialElementHandlers
});

doc.output('dataurl');

}
</script>

<style type="text/css">
  div.modal-content
  {

    width: 1000px;
  }
  div.modal
  {
    position: absolute;
  }
  div.modal-dialog
  {
    position: absolute; left: 10%;
  }
</style>

  </head>

  <body>

    <div class="container">
        <div class="header">
<h3 class="text-muted">Ganado Lechero App</h3>
              <nav class="navbar navbar-default" role="navigation">
              <!-- El logotipo y el icono que despliega el menú se agrupan
                   para mostrarlos mejor en los dispositivos móviles -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Desplegar navegación</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <h3>Resumen y alertas</h3>
              </div>

              <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                   otro elemento que se pueda ocultar al minimizar la barra -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">


                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/userHome">Inicio-Animales</a></li>
                    <li role="presentation"><a href="/Registro">Registro</a></li>
                    <li role="presentation"><a href="/reproduccion">Reproduccion</a></li>
                    <li role="presentation" class="active"><a href="#">Resumen</a></li>

                    <li role="presentation" class=""><a href="/logout">Salir</a></li>
                </ul>
                    </div>
            </nav>
        </div>

        <script src="../static/js/highcharts.js"></script>
<script src="../static/js/modules/exporting.src.js"></script>
<div id="grafica1" class="col-sm-8	col-md-8 col-lg-8"></div>
<div class="table-responsive col-sm-4	col-md-4 col-lg-4">
  <table class="table">
    <tr class="hover"><td>RODEO</td><td>CANTIDAD</td></tr>
    <tr><td>ALTA</td><td>{{alta}}</td></tr>
    <tr><td>MEDIA</td><td>{{media}}</td></tr>
    <tr><td>BAJA</td><td>{{baja}}</td></tr>
    <tr><td>ENFERMERIA</td><td>{{enfermeria}}</td></tr>
    <tr><td>SECAS</td><td>{{secas}}</td></tr>
    <tr><td>ELIMINADAS</td><td>{{eliminadas}}</td></tr>

  </table>

</div>
<div id="grafica2" class="col-sm-6	col-md-6 col-lg-6"></div>
<div class="btn-lg col-sm-6	col-md-6 col-lg-6">
  <button type="button" class="btn btn-primary btn-block" onclick="rodeo()">Imprimir reporte por Rodeo <span class="glyphicon glyphicon-print"></span></button>
</div>
<div class="btn-lg col-sm-6	col-md-6 col-lg-6">
  <button type="button" class="btn btn-primary btn-block" onclick="reproduccion()">Imprimir reporte por Reproduccion <span class="glyphicon glyphicon-print"></span></button>
</div>


<script id="listInse1" type="text/x-jQuery-tmpl">
<tr>
<td>${Nombre}</td>
<td bgcolor='red'>Ha enfermado ya que no se ha logrado pre&ntilde;ar</td>
</tr>
</script>
<script id="listInse2" type="text/x-jQuery-tmpl">
<tr>
<td>${Nombre}</td>
<td>Esperando pre&ntilde;es</td>
</tr>
</script>
<div class="table-responsive col-md-4">
            <P class="text-center"><strong>ALERTA DE ENFERMERIA</strong></P>
<table id="tblInse" class='table table-condensed table-bordered table-hover'>";

</table>

</div>

<br>
<div id="" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        <footer class="footer">
            <p>&copy; Tecnologia Space 2016</p>
        </footer>
</div>

<div class="modal fade" id="rodeoModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header" style="text-align:center;">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" style="color:red;" id="deleteModalLabel"></h4>
              <button type="button" class="btn btn-primary" onclick="printRodeo()">Imprimir <span class="glyphicon glyphicon-print"></span></button>
          </div>
<div class="modal-body">
<div id="tblRodeo">
              <div>

              <script id="encabezado" type="text/x-jQuery-tmpl">
                  <tr class='active'><td>CARAVANA</td><td>NOMBRE</td><td>FECHA DE NACIMIENTO</td><td>ICC</td><td>NO_PARTOS</td><td>RODEO</td></tr>
              </script>

              <script id="listAltas" type="text/x-jQuery-tmpl">
              <tr>
              <td>${Caravana}</td>
              <td>${Nombre}</td>
              <td>${Fecha}</td>
              <td>${Icc}</td>
              <td>${No_partos}</td>
              <td>${Rodeo}</td>
              </tr>
              </script>
              <div class="table-responsive container">
              <P class="text-center"><strong>ALTA PRODUCCION</strong></P>
              <table id='alta' class='table table-condensed table-bordered table-hover'>


              </table>
              </div>
              </div>
              <div>
              <script id="listMedias" type="text/x-jQuery-tmpl">
              <tr>
              <td>${Caravana}</td>
              <td>${Nombre}</td>
              <td>${Fecha}</td>
              <td>${Icc}</td>
              <td>${No_partos}</td>
              <td>${Rodeo}</td>
              </tr>
              </script>
              <div class="table-responsive container">
              <P class="text-center"><strong>MEDIA PRODUCCION</strong></P>
              <table id='media' class='table table-condensed table-bordered table-hover'>

              </table>
              </div>
              </div>
              <div>
              <script id="listBajas" type="text/x-jQuery-tmpl">
              <tr>
              <td>${Caravana}</td>
              <td>${Nombre}</td>
              <td>${Fecha}</td>
              <td>${Icc}</td>
              <td>${No_partos}</td>
              <td>${Rodeo}</td>
              </tr>
              </script>
              <div class="table-responsive container">
              <P class="text-center"><strong>BAJA PRODUCCION</strong></P>
              <table id='baja' class='table table-condensed table-bordered table-hover'>

              </table>
              </div>
              </div>
              <div>
              <script id="listEnfermeria" type="text/x-jQuery-tmpl">
              <tr>
              <td>${Caravana}</td>
              <td>${Nombre}</td>
              <td>${Fecha}</td>
              <td>${Icc}</td>
              <td>${No_partos}</td>
              <td>${Rodeo}</td>
              </tr>
              </script>
              <div class="table-responsive container">
              <P class="text-center"><strong>ENFERMERIA</strong></P>
              <table id='enfermeria' class='table table-condensed table-bordered table-hover'>

              </table>
              </div>
              </div>
              <div>
              <script id="listSecas" type="text/x-jQuery-tmpl">
              <tr>
              <td>${Caravana}</td>
              <td>${Nombre}</td>
              <td>${Fecha}</td>
              <td>${Icc}</td>
              <td>${No_partos}</td>
              <td>${Rodeo}</td>
              </tr>
              </script>
              <div class="table-responsive container">
              <P class="text-center"><strong>SECAS EN PREPARTO</strong></P>
              <table id='secas' class='table table-condensed table-bordered table-hover'>

              </table>
              </div>
              </div>
              <div class="">

              <script id="listEliminadas" type="text/x-jQuery-tmpl">
              <tr>
              <td>${Caravana}</td>
              <td>${Nombre}</td>
              <td>${Fecha}</td>
              <td>${Icc}</td>
              <td>${No_partos}</td>
              <td>${Rodeo}</td>
              </tr>
              </script>
              <div class="table-responsive container">
              <P class="text-center"><strong>ELIMINADAS/VENDIDAS/MUERTAS</strong></P>
              <table id='eliminada' class='table table-condensed table-bordered table-hover'>

              </table>
              </div>
              </div>

          </div>
          </div>

          <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="printRodeo()">Imprimir <span class="glyphicon glyphicon-print"></span></button>

          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="reproduccionModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header" style="text-align:center;">
                <button type="button" class="btn btn-primary" onclick="printReproduccion()">Imprimir <span class="glyphicon glyphicon-print"></span></button>

              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" style="color:red;" id="deleteModalLabel"></h4>
            </div>
<div class="modal-body">
<div id="tblReproduccion">
              <div>

              <script id="encabezado" type="text/x-jQuery-tmpl">
                  <tr class='active'><td>CARAVANA</td><td>NOMBRE</td><td>No PARTOS</td><td>FECHA DE INSEMINACION</td><td>No INSEMINACION</td><td>RODEO</td></tr>
              </script>

              <script id="listReproduccion" type="text/x-jQuery-tmpl">
              <tr>
              <td>${Caravana}</td>
              <td>${Nombre}</td>
              <td>${No_partos}</td>
              <td>${Fecha_inse}</td>
              <td>${No_inse}</td>
              <td>${Rodeo}</td>
              </tr>
              </script>
              <div class="table-responsive container">
              <P class="text-center"><strong>REPRODUCCION</strong></P>
              <table id='reproduccion' class='table table-condensed table-bordered table-hover'>

              </table>
              </div>
              </div>

              <div>
              <script id="headpartos" type="text/x-jQuery-tmpl">
                  <tr class='active'><td>CARAVANA</td><td>NOMBRE</td><td>No PARTOS</td><td>FECHA DE PREÑES</td><td>RODEO</td></tr>
              </script>
              <script id="listPartos" type="text/x-jQuery-tmpl">
              <tr>
              <td>${Caravana}</td>
              <td>${Nombre}</td>
              <td>${No_partos}</td>
              <td>${Fecha_pre}</td>
              <td>${Rodeo}</td>
            </tr>
              </script>
              <div class="table-responsive container">
              <P class="text-center"><strong>PARTOS</strong></P>
              <table id='partos' class='table table-condensed table-bordered table-hover'>

              </table>
              </div>
              </div>
              <div>
              <script id="headlactancia" type="text/x-jQuery-tmpl">
                  <tr class='active'><td>CARAVANA</td><td>NOMBRE</td><td>No PARTOS</td><td>FECHA DE PARTO</td><td>RODEO</td></tr>
              </script>
              <script id="listLactancia" type="text/x-jQuery-tmpl">
              <tr>
              <td>${Caravana}</td>
              <td>${Nombre}</td>
              <td>${No_partos}</td>
              <td>${Fecha_par}</td>
              <td>${Rodeo}</td>
              </tr>
              </script>
              <div class="table-responsive container">
              <P class="text-center"><strong>LACTANCIA</strong></P>
              <table id='lactancia' class='table table-condensed table-bordered table-hover'>

              </table>
              </div>
              </div>

          </div>
</div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="printReproduccion()">Imprimir <span class="glyphicon glyphicon-print"></span></button>

          </div>
      </div>
  </div>
</div>

  </body>
</html>
