<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ganado Lechero App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">Ganado Lechero App</h3>
                      <nav class="navbar navbar-default" role="navigation">
                      <!-- El logotipo y el icono que despliega el menú se agrupan
                           para mostrarlos mejor en los dispositivos móviles -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                          <span class="sr-only">Desplegar navegación</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <h3>Ingresar</h3>
                      </div>

                      <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                           otro elemento que se pueda ocultar al minimizar la barra -->
                      <div class="collapse navbar-collapse navbar-ex1-collapse">


                        <ul class="nav nav-pills pull-right">
                            <li role="presentation"><a href="/">Inicio</a>
                            </li>
                            <li role="presentation" class="active"><a href="#">Ingresar</a>
                            </li>
                            <li role="presentation"><a href="/Registrarse">Registrarse</a>
                            </li>
                        </ul>
                            </div>
                    </nav>
      </div>

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{message}}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>

      <div class="jumbotron">
        <h1>Ganado Lechero App</h1>
        <form class="form-signin" action="/validateLogin" method="post">
        <label for="inputEmail" class="sr-only">Correo Electronico</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Correo Electronico" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Contraseña" required>

        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Tecnologia Space 2016</p>
      </footer>

    </div>
  </body>
</html>
